// .swiper-wrapper{
//     :nth-child(1){
//         background-color: red;
//     }
//     :nth-child(2){
//         background-color: blue;
//     }
// }
.swiper{
    position: relative;
    top: 0;
}
.spinner{
    margin-left: 2vw;
}