.first-page{
	width: 100vw;
	contain:paint;
	position: relative;
}
.content{
	height: 200rem;
}
.connect{
	// position: absolute;
	// bottom: 0;
	height: 6vh;
	width: 100vw;
	// background-color: black;
}
.landing-page{
	position: relative;
	min-height: 100vh;
	contain:paint;
	
	background-color:#fff4e8 ;
	.hero-image{
		width: 100vw;
		position: absolute;
		bottom: 0;
		display: flex;
		justify-content: center;
		z-index: 6;
		
		img{
			font-size: clamp(0.5rem,0.8vw,1.2rem) ;
			width: 55em;
			@media (width<400px) {
				font-size: clamp(0.4rem,0.6vw,1rem)
			}
			@media (height<900px) {
				font-size: 0.3rem;
			}
			@media (height<670px) {
				font-size: clamp(0.05rem,0.58vh,0.25rem);
			}
		}
	}
	.siders{
		position: sticky;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;

	}
	.side{

		height: min(80vh,60vw);
		min-width: 30vw;
		min-height: 38rem;
		position: absolute;
		display: flex;
		align-items: center;
		flex-direction: column;
		@media (width<1000px) {
		 min-height: 20rem;
		}
	}
	#right-text{
		right: 0;
        justify-content: flex-end;
	}
	#left-text{
		left: 0;
		 justify-content: flex-start;
		
		
	}
	.text-cont{
		opacity: 1;
		margin-left: 0;
		display: flex;
		flex-direction: column;
		
		font-size: clamp(0.6rem,1.1vw,1.2rem);
		width: 22em;
		min-width: 18rem;
		transition: all 1s ease-in-out;
        @media (width<750px) {
          // font-size: clamp(0.4rem,1vw,1rem);
          width: 18em !important;
          min-width: 8rem !important;
        }
        @media (width<620px) {
          // font-size: clamp(0.4rem,1vw,1rem);
          width: 12em !important;
          min-width: 6rem !important;
        }
		.heading{
			font-family: Mialgor;
			font-size: clamp(1.4rem,2.4vw,2.2rem);
			line-height: 1.1;
			margin-bottom: 0.3em;
			 @media (width<750px) {
               font-size: clamp(1rem,1.6vw,1.4rem);		
             }
             @media (width<620px) {
               font-size: clamp(0.8rem,1.2vw,1.1rem);		
             }
		}

		.details{
			text-wrap: wrap;
			width: 100% !important;
			font-family: 'Archivo', sans-serif;
			font-size: clamp(0.8rem,1.3vw,1.24rem);
			font-weight: 100 !important;
			.title{
				margin: 0.6em 0 0.9em 0 ;
               font-weight: 600;
			   font-size: 0.7em;
			}
			 @media (width<750px) {
               font-size: clamp(0.5rem,1.4vw,1.2rem);		
             }
		}
	}
	.hidden-left{
		margin-left:-12em;
		opacity: 0;
	}
	.hidden-right{
		margin-right:-12em;
		opacity: 0;
	}
	#cont-left{
		font-size: clamp(0.8rem,1.2vw,1.4rem);
		padding-top: 8em;
		padding-left: 4em;
		@media (width<620px) {
       margin-top:  2em !important;	
    }
    @media  (width<470px) {
	  	line-height: 1.05;
	  }
	  @media (height<900px) {
	  	  margin-top:  -2em !important;	
	  }
	 
	}
	#cont-right{
		font-size: clamp(0.8rem,1.2vw,1.4rem);
		padding-bottom: 4em;
		padding-right: 4em;
		@media (width<620px) {
           margin-bottom:  -9em !important;		
        }
	  @media  (width<470px) {
	  	 margin-bottom: -19em !important;
	  	line-height: 1.05;
	  }
	  @media (height<900px) {
	  	  margin-bottom:  -15em !important;	
	  }
	 
	  };
}