.spin-cont{
    animation: infinite spin 50s linear ;
    animation-fill-mode: forwards;
    position: fixed;
    right: 30px;
   bottom: 30px;
    width: 10rem;
    @media (width<650px) {
        width: 8rem;
        @media (height>900px) {
            bottom: 200px;
        }
    }
    @media (width<490px) {
        width: 6rem;
        @media (height>900px) {
            bottom: 200px ;
        }
    }
    @media (width<420px) {
        bottom: 100px;
        @media (height>900px) {
            bottom: 200px ;
        }
    }
    @media (width<350px) {
        bottom: 200px;
        @media (height>900px) {
            bottom: 250px;
        }

    }
    // animation: infinite spin 50s linear ;
    // animation-fill-mode: forwards;
    .font{
        font-size: 0.06rem;
    }
    z-index: 4;
}
.spinner{
    width: 100%;
    transition: transform 0.1s ease-out;
}
.first-page-frame{
    width: 100vw;
    height: 100vh;
    position: relative;
}